[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git

[submodule "tests/bats"]
	path = tests/bats
	url = https://github.com/bats-core/bats-core.git

[submodule "tests/libraries/bats-support"]
	path = tests/libraries/bats-support
	url = https://github.com/bats-core/bats-support.git

[submodule "tests/libraries/bats-assert"]
	path = tests/libraries/bats-assert
	url = https://github.com/bats-core/bats-assert.git
