version: 2.1

parameters:
  verify:
    type: boolean
    default: true

  tests:
    type: boolean
    default: false

  build:
    type: boolean
    default: false

  deploy:
    type: boolean
    default: true

  publish:
    type: boolean
    default: true

executors:
  base:
    docker:
      - image: alpine:3.16

commands:
  setup:
    steps:
      - run:
          name: Setup

          command: |
            sh scripts/update.sh
            sh scripts/install/bash.sh
            bash scripts/install/make.sh

  setup-git:
    steps:
      - install-git

      - run:
          name: Setup Git
          command: make git-submodules environment=$CI_ENVIRONMENT

  setup-netlify:
    steps:
      - install-npm
      - install-netlify-cli

  install-git:
    steps:
      - run:
          name: "Install Git"
          command: make install-git environment=$CI_ENVIRONMENT

  install-npm:
    steps:
      - run:
          name: Install npm
          command: make install-npm

  install-hugo:
    steps:
      - run:
          name: Install Hugo
          command: make install-hugo

  install-bats:
    steps:
      - run:
          name: Install Bats
          command: make install-bats

  install-docker-cli:
    steps:
      - run:
          name: Install Docker CLI
          command: make install-docker-cli

  install-netlify-cli:
    steps:
      - run:
          name: Install Netlify CLI
          command: make install-netlify-cli

jobs:
  verify:
    executor: base
    resource_class: small

    steps:
      - checkout
      - setup

      - run:
          name: Verify Base
          command: make verify-ci environment=base

  verify-build:
    executor: base
    resource_class: small

    steps:
      - checkout
      - setup
      - setup-git
      - install-hugo

      - run:
          name: Verify Build
          command: make verify-ci environment=build
  
  verify-deploy:
    executor: base
    resource_class: small

    steps:
      - checkout
      - setup
      - setup-netlify

      - run:
          name: Verify Deploy
          command: make verify-ci environment=deploy

  verify-publish:
    executor: base
    resource_class: small

    steps:
      - checkout
      - setup
      - install-docker-cli

      - run:
          name: Verify Publish
          command: make verify-ci environment=publish

  tests:
    executor: base
    resource_class: small

    steps:
      - checkout
      - setup
      - setup-git
      - install-npm
      - install-bats

      - run:
          name: Run Tests
          command: make tests-base

  build:
    executor: base
    resource_class: medium

    steps:
      - checkout
      - setup
      - setup-git
      - install-hugo
      
      - run:
          name: Build Site
          command: make build-ci

      - when:
          condition: 
            equal: [ main, << pipeline.git.branch >>]

          steps:
            - persist_to_workspace:
                root: .

                paths:
                  - ./public

  deploy:
    executor: base
    resource_class: small

    steps:
      - checkout
      - setup
      - setup-netlify

      - attach_workspace:
          at: .
      
      - run:
          name: Deploy To Netlify
          command: >
            make deploy-ci 
            id=$NETLIFY_SITE_ID 
            token=$NETLIFY_ACCESS_TOKEN

  publish:
    executor: base
    resource_class: small

    steps:
      - checkout
      - setup
      - install-docker-cli

      - setup_remote_docker:
          docker_layer_caching: true
          version: 20.10.14

      - run:
          name: Publish To Docker Hub
          command: >
            make publish-ci 
            tag=$CIRCLE_TAG 
            username=$DOCKER_USERNAME 
            token=$DOCKER_ACCESS_TOKEN

workflows:
  verify:
    when: << pipeline.parameters.verify >>

    jobs:
      - verify

  tests:
    when: << pipeline.parameters.tests >>

    jobs:
      - tests

  build:
    when: << pipeline.parameters.build >>

    jobs:
      - verify-build

      - build:
          requires:
            - verify-build

  deploy:
    when: << pipeline.parameters.deploy >>

    jobs:
      - verify-build:
          filters:
            branches:
              only:
                - main

      - build:
          requires:
            - verify-build

          filters:
            branches:
              only:
                - main

      - verify-deploy:
          filters:
            branches:
              only:
                - main

      - deploy:
          requires:
            - build
            - verify-deploy

          filters:
              branches:
                only:
                  - main

  publish:
    when: << pipeline.parameters.publish >>

    jobs:
      - verify-publish:
          filters: 
            tags:
              only: 
                - /.*/

            branches:
              ignore: /.*/

      - publish:
          requires:
            - verify-publish

          filters: 
            tags:
              only: 
                - /.*/

            branches:
              ignore: /.*/
