#offline-content {
  left: 0;
  right: 0;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - var(--header-height) - var(--footer-height));
}