<script>
if ("serviceWorker" in navigator) {
  navigator.serviceWorker
    .register("/sw.js", { scope: "/" })
    .then(function (registration) {
      console.log("Service Worker: Registered.");
    });

  navigator.serviceWorker.ready.then(function (registration) {
    console.log("Service Worker: Ready.");
  });
}
</script>

{{ range $id, $element := .Site.Params.menuScripts -}}
<script 
  type="text/javascript" 
  src="{{ .file | absURL }}" 
  integrity="{{ .integrity }}" 
  crossorigin="anonymous"
></script>
{{- end }}