<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0f94d2">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">

<meta name="msapplication-TileColor" content="#2b5797">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
<meta name="msapplication-config" content="/browserconfig.xml">

<meta name="theme-color" content="#0f94d2">
<link rel="manifest" href="/manifest.json">

{{ range .Site.Params.blogCustomCSS -}}
  <link rel="stylesheet" href="{{ . | absURL }}">
{{- end }}

{{ range .Site.Params.blogCustomJS -}}
  <script type="text/javascript" src="{{ . | absURL }}"></script>
{{- end }}

<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>

<script>
  window.OneSignal = window.OneSignal || [];
  OneSignal.push(function() {
    OneSignal.init({
      appId: "b11e178e-35e4-4e25-ba77-18c2fb03fc8a",
    });
  });
</script>
